@page "/weatherforecast"
@inherits KC.WebApplication.Components.WeatherForecastViewBase


<PageTitle>Wettervorhersage</PageTitle>

<h1>5-Tage-Wettervorhersage</h1>

<h3 style="float: right">13‎°C Sonnig</h3>

<p style="float: right;">AKTUELLES WETTER</p>

@if (Forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Temp. (C)</th>

            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in Forecasts)
        {
            <tr>
                <td>@forecast.Date.ToString("dd/MM/yyyy")</td>
                <td>@forecast.TemperatureC ‎°C </td>

                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
   

}